{% load static %}
<div class="sidebar">
    <div class="single-widget">
        <h4>آخرین مقالات</h4>
        <ul>
            {% for article in recent_articles %}
            <li><a href="{% url 'blog:blog_page' article.slug %}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="single-widget">
        <h4>آخرین مطالب</h4>
        <ul>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
            <li><a href="#">آموزش افزونه گرویتی فرم برای ساخت انواع فرم </a></li>
        </ul>
    </div>
</div>