{% extends "base.html" %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <div class="hello">
        <div class="hi">
            <div class="wrapper">
                <h2> ورود به حساب</h2>
                <form action="#" method="post">
                    {% csrf_token %}
                    <h3 class="move">نام کاربری یا شماره تماس</h3>
                    <div class="input-box">
                        {{ form.username }}
                    </div>
                    <h3 class="move">رمز عبور</h3>
                    <div class="input-box" placeholder="رمز عبور">
                        {{ form.password }}
                    </div>
                        {{ form.username.errors }}
                        {{ form.password.errors }}
                    <div class="input-box button">
                        <input type="Submit" value="تایید">
                    </div>
                    <div class="text">
                        <h3>حساب ندارید؟ <a href="{% url "account:user_register" %}">ساخت حساب</a></h3>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}